@import "pages.scss";
@import "sidebar.scss";
@import "variable.scss";
@import "responsive.scss";

@import '../icons/font-awesome/css/font-awesome.min.css';
@import '../icons/simple-line-icons/css/simple-line-icons.css';
@import '../icons/themify-icons/themify-icons.css';
@import '../icons/material-design-iconic-font/css/materialdesignicons.min.css';