aniso8601==7.0.0
beautifulsoup4==4.9.0
CairoSVG==2.3.0
cffi==1.12.1
cssselect2==0.2.1
defusedxml==0.5.0
Django==2.1.4
django-appconf==1.0.4
django-bootstrap4==1.1.1
django-compressor==2.4
django-cors-headers==2.4.0
django-crispy-forms==1.9.0
django-easy-pdf==0.1.1
django-libsass==0.8
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
graphene==2.1.8
graphene-django==2.9.1
graphql-core==2.3.1
graphql-relay==2.0.1
html5lib==1.0.1
libsass==0.19.4
Markdown==3.1.1
numpy==1.16.0
pandas==0.23.4
Pillow==5.4.1
promise==2.3
psycopg2==2.7.6.1
psycopg2-binary==2.8.5
pycparser==2.19
PyJWT==1.7.1
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.7.5
pytz==2018.7
rcssmin==1.0.6
reportlab==3.5.13
rjsmin==1.1.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
soupsieve==2.0
tinycss2==0.6.1
WeasyPrint==45
webencodings==0.5.1
xhtml2pdf==0.2.3
