{% extends 'dashboard/home.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <a href="{% url 'category_list' %}" class="btn btn-primary shadow-sm mb-3"><i class="fa fa-chevron-left"></i> Regresar</a>

        <div class="x_panel">
            <div class="x_title">
                <h2>Nueva Categorias <small></small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}

                    <input type="submit" class="btn btn-primary" value="Guardar">
                </form>
            </div>
        </div>
    </div>
{% endblock %}