{% load static %}

<section class="bg-info sidebar">
    <header>
        <nav class="nav navbar py-0">
            <a class="navbar-brand py-0" href="{% url 'dashboard' %}">
                <img src="{% static 'elephantus/images/logo.svg' %}" width="100px" height="50px" alt="">
            </a>
        </nav>
    </header>

    <section class="navigation">
        <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li>Gestion de Productos
                <ul>
                    <li><a href="{% url 'category_list' %}">Categorias</a></li>
                    <li><a href="{% url 'subcategory_list' %}">Subcategorias</a></li>
                    <li><a href="">Marcas</a></li>
                    <li><a href="">Productos</a></li>
                </ul>
            </li>
        </ul>
    </section>
</section>